<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Contacts</title>
                <icon src="icon.png" />
                <link rel="shortcut icon" href="favicon.ico">
                    <link rel="stylesheet" href="../css/themes/default/jquery.mobile-1.4.5.min.css">
                        <link rel="stylesheet" href="../_assets/css/jqm-demos.css">
                            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
                                <script src="../js/jquery.js"></script>
                                <script src="../_assets/js/index.js"></script>
                                <script src="../js/jquery.mobile-1.4.5.min.js"></script>
    </head>
    <body>
        <div data-role="page" class="jqm-demos jqm-home">
            
            <div data-role="header" class="jqm-header">
                <h2 style="padding:16px;">Profile</h2>
                <a href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
                <a href="#" class="jqm-search-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-search ui-nodisc-icon ui-alt-icon ui-btn-right">Search</a>
            </div><!-- /header -->
            
            <div role="main" class="ui-content jqm-content">
                <input type="button" value="Back" onClick="history.go(-1);">
                <h2>Email</h2>
                    <p>Primary:</p> <p><strong>janivdavid@gmail.com</strong></p>
                <p>Work:</p> <p><strong>janiv@solutionbros.com</strong></p>
                </ul>
                
            </div><!-- /content -->
            <div data-role="panel" class="jqm-navmenu-panel" data-position="left" data-display="push" data-theme="b">
                
                <ul class="jqm-list ui-alt-icon ui-nodisc-icon">
                    
                    <li data-filtertext="demos homepage" data-icon="home"><a href=".././">Change status</a></li>
                    <li data-filtertext="demos homepage" data-icon="home"><a href=".././">Add new contact</a></li>
                </ul>
            </div><!-- /panel -->
            
            
            <!-- TODO: This should become an external panel so we can add input to markup (unique ID) -->
            <div data-role="panel" class="jqm-search-panel" data-position="right" data-display="push" data-theme="b">
                <div class="jqm-search">
                    <ul class="jqm-list" data-filter-placeholder="Search contacts..." data-filter-reveal="true">
                        <li data-filtertext="@janivdavid" data-icon="phone"><a href="#">Janiv</a></li>
                        <li data-filtertext="@johanneseret" data-icon="phone"><a href="#">Johannes</a></li>
                        <li data-filtertext="@aapo" data-icon="phone"><a href="#">Alvar Aapo</a></li>
                        <li data-filtertext="@molokovana" data-icon="phone"><a href="#">Irina Molokovana</a></li>
                        <li data-filtertext="@sauli" data-icon="phone"><a href="#">Sauli Lehtinen</a></li>
                        <li data-filtertext="@berska91" data-icon="phone"><a href="#">Berska</a></li>
                        <li data-filtertext="@christianlee" data-icon="phone"><a href="#">Christian Lee</a></li>
                        <li data-filtertext="@xenith" data-icon="phone"><a href="#">Xenith Weeler</a></li>
                    </ul>
                </div>
                </li>
                
                
                
                </ul>
                
            </div>
            
        </div><!-- /panel -->
        
        
        </div><!-- /page -->
        
    </body>
</html>
